<section class="container home-container">
  <img src="/images/<%=lang%>/home.jpg" alt="home" class="imgs home-img" usemap="#homemap" width="1200" height="2400">
</section>
<map name="homemap">
    <area target="_self" alt="home" title="home" href="/<%=tarLang%>" coords="1146,352,993,249" shape="rect">
    <area target="_self" alt="booth" title="booth" href="/<%=lang%>/event" coords="53,1976,617,2205" shape="rect">
    <area target="_self" alt="event" title="event" href="/<%=lang%>/booth" coords="1148,2206,617,1976" shape="rect">
</map>
