<section class="container booth-container" id="top">
  <img src="/images/<%=lang%>/pop03.jpg" alt="booth" class="imgs booth-img" usemap="#popupMap" width="1200" height="2487">
</section>
<map name="popupMap">
  <area target="_self" alt="close" title="close" href="/<%=lang%>/booth" coords="999,226,1102,325" shape="rect">
</map>
