<section class="container booth-container" id="top">
  <img src="/images/<%=lang%>/pop01.jpg" alt="booth" class="imgs booth-img" usemap="#popupMap" width="1200" height="2735">
</section>
<map name="popupMap">
  <area target="_self" alt="close" title="close" href="/<%=lang%>/booth" coords="1105,210,994,106" shape="rect">
</map>

